<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide> </ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="ion-padding">
  <ion-list>
    <ion-list-header>
      Admin
    </ion-list-header>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Patient & Episode Management</ion-label>
      </ion-item-divider>

      <ion-item (click)="toPatient()">
        <ion-icon slot="start" name="person" color="primary"></ion-icon>
        <ion-label>Patient</ion-label>
      </ion-item>

      <ion-item (click)="toEpisode()">
        <ion-icon slot="start" name="folder-open" color="secondary"></ion-icon>
        <ion-label>Episode</ion-label>
      </ion-item>

      <ion-item (click)="toEpisode()">
        <ion-icon slot="start" name="git-compare" color="tertiary"></ion-icon>
        <ion-label>Followup</ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
  <ion-list>
    <ion-list-header>
      Reports
    </ion-list-header>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>In-Patient</ion-label>
      </ion-item-divider>

      <ion-item (click)="toPatient()">
        <ion-icon slot="start" name="person" color="charts"></ion-icon>
        <ion-label>PINNACLE Reports</ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        <ion-label>Out-Patient</ion-label>
      </ion-item-divider>

      <ion-item (click)="toPatient()">
        <ion-icon slot="start" name="person" color="charts"></ion-icon>
        <ion-label>Chest Pain - MI Reports</ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
